@font-face {
    /*
        font family is used to give a name to the custom font,
         you use this for referencing the custom font later
    */
    font-family: "Noto Serif Khojki";
 
    /*
        This is the location of the Custom Font, note, I have stored in a ZIP file
     */
    src: url('/resource/Noto_Serif_Khojki/NotoSerifKhojki-VariableFont_wght.ttf') format('TrueType');
 }
 
 lightning-card{
    --sds-c-card-color-background: #F5FBFF;
    --sds-c-card-color-border: #F5FBFF;
    --sds-c-button-brand-color-background: purple;
}
lightning-card .inner{
    --sds-c-card-color-background:rgb(25,41,66);
    --sds-c-card-color-border: rgb(25,41,66);
    --sds-c-button-brand-color-background: purple;
}
.font {
    font-family: 'Noto Serif Khojki';
}
lightning-card .innerwhite{
    --sds-c-card-color-background:rgb(255, 255, 255);
    --sds-c-card-color-border: rgb(255, 255, 255);
    --sds-c-button-brand-color-background: purple;
}